{% extends 'base.html.twig' %}

{% block body %}
	<div class="col-md-9 border p-4 bg-white mx-auto">
		<h1 class="p-2 text-center font-MF border-bottom border-primary">Connexion</h1>

		{% if error %}
			<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		<form action="{{ path('security_login') }}" method="post">
			<div class="row justify-content-center">
				<input type="text" class="col-10 p-3 border-primary border rounded mt-4" id="username" name="_username" value="{{ last_username }}" placeholder="Adresse email"/>
				<input type="password" class="col-10 p-3 border-primary border rounded mt-3" id="password" name="_password" placeholder="Mot de passe"/>
			</div>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<div class="row justify-content-center">
				<button type="submit" class="btn btn-success my-3 font-MF">login</button>
			</div>
			<div class="row justify-content-center">
				<a href="{{path('formEmailForgot')}}" class="text-success">Mot de passe oublié ?</a>
			</div>
		</form>
	</div>
{% endblock %}
