{% extends "base.html.twig" %}

{% block body %}
<div class="col-md-9 border p-4 bg-white mx-auto">

	<h1 class="p-2 text-center font-MF border-bottom border-primary">Inscription</h1>

	{{ form_start(form) }}
	{{ form_row(form.username, { 'label': 'Nom d\'utilisateur'}) }}
		{{ form_row(form.email, { 'label': 'Adresse email'}) }}
		{{ form_row(form.image, { 'label': 'Image'}) }}
		{{ form_row(form.password, { 'label': 'Mot de passe'}) }}
		{{ form_row(form.confirm_password, { 'label': 'Confirmation du mot de passe'}) }}
		<div class="row justify-content-center">
			<button type="submit" class="btn btn-success my-3 font-MF">Inscription !
			</button>
		</div>
		{{ form_end(form)}}
</div>
{% endblock %}

{% block javascripts %}

	<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
	<script>
		$(document).ready(function () {
bsCustomFileInput.init()
})
	</script>
{% endblock %}
