{% extends "base.html.twig" %}

{% block body %}
	<div class="row justify-content-around">
		<div class="row col-md-3 mt-2 border border-success justify-content-between p-2 ml-0 mr-2">
			<a href="{{path('category_new')}}" class="text-success">Créer une nouvelle catégorie</a>
			<a href="{{path('category_new')}}" class="h5 text-success">
				&#43;
			</a>
		</div>
		{% for category in categorys %}
			<article class="col-md-3 row mt-2 m-0 p-0 mr-2" id="{{category.id}}">
				<div class="border border-primary row w-100 justify-content-between ml-0 p-2">
					<div>
						<a href="{{ path('category_show', {'id': category.id}) }}">{{ category.name }}</a>
					</div>
					<div>
						{% if app.user %}
							<a href="{{ path('category_edit', {'id': category.id}) }}">&#128394;</a>
							<a href="{{ path('delete', {'entity': 'category', 'id': category.id}) }}" onclick="return confirm('Etes-vous sur de vouloir supprimer cette category ?')">
								&#128465;</a>
						{% endif %}
					</div>
				</div>
			</article>
		{% endfor %}
	</div>
{% endblock %}
