{% extends "base.html.twig" %}

{% block body %}
	{% for category in categorys %}
		<article class="mt-nav row col-lg-2 h-25 m-3" id="{{category.id}}">
			<div class="border border-primary row w-100 justify-content-between ml-0">
				<div>
					<a href="{{ path('category_show', {'id': category.id}) }}">{{ category.name }}</a>
				</div>
				<div>
					{% if app.user %}
						<a href="{{ path('category_edit', {'id': category.id}) }}">&#128394;</a>
						<a href="{{ path('delete', {'entity': 'category', 'id': category.id}) }}" onclick="return confirm('Etes-vous sur de vouloir supprimer cette category ?')">
							&#128465;</a>
					{% endif %}
				</div>
			</div>
		</article>
	{% endfor %}
{% endblock %}
