{% extends "base.html.twig" %}

{% block title %}Tricks
{% endblock %}

{% block body %}
	<section class="item-list mt-nav" id="Home">
		<header class="masthead">
			<div class="row h-100 align-items-center">
				<div class="row col-12 justify-content-center">
					<h1 class="font-MF text-white rounded-pill bg-primary p-3">BlogSnow</h1>
				</div>
			</div>
			<div id="arrowDown" class="arrow">
				<a href="#tricks" class="rounded bg-white p-2">&#8595;</a>
			</div>
			<div id="arrowTop" class="arrow" style="display : none;">
				<a href="#Home">&#8593;</a>
			</div>
		</header>
		<div class="row justify-content-start px-auto pt-3" id="tricks">
			{% for figure in figures %}
				<article class="mt-nav p-0 row col-md-2 h-25 m-3 shadow" id="{{figure.id}}">
					{% if figure.image %}
						<img src="{{ asset('uploads/home/' ~ figure.image) }}" height="auto" alt="" width="100%">
					{% else %}
						<img src="{{ asset('uploads/home/Pardefault.jpg') }}" height="auto" alt="" width="100%">
					{% endif %}
					<div class="row bg-white w-100 justify-content-between ml-0 border-top">
						<div>
							<a href="{{ path('figure_show', {'id': figure.id}) }}" class="font-MF col-10 text-primary">{{ figure.name }}</a>
						</div>
						<div>
							{% if app.user and user.email == figure.user.email %}
								<a href="{{ path('figure_edit', {'id': figure.id}) }}">&#128394;</a>
								<a href="{{ path('delete', {'entity': 'figure', 'id': figure.id}) }}" onclick="return confirm('Etes-vous sur de vouloir supprimer cette figure ?')">
									&#128465;</a>
							{% endif %}
						</div>
					</div>
				</article>
			{% endfor %}
		</div>

	</section>
{% endblock %}
{% block javascripts %}
	<script type="text/javascript">
		var arrowDown = document.getElementById('arrowDown');

arrowDown.onclick = function () {
arrowDown.style.display = "none";
}
	</script>
{% endblock %}
