{% extends 'base.html.twig' %}

{% block title %}SnowBlog{% endblock %}

{% block body %}
<section class="articles">
    <div class="min-vw-100 min-vh-100">
        <img src="http://placehold.it/" alt="SnowBlogImg" class="w-100 mh-100">
    </div>
    {% for figure in figures %}
        <article>
            <h2>{{ figure.name }}</h2>
            <div class="metadata">Ecrit le {{ figure.dateCreated | date('d/m/Y') }} à {{ figure.dateCreated | date('H:i') }} dans la catégorie figure</div>
            <div class="content">
                <img src="{{ figure.image }}" alt="">
                {{ figure.content }}
                <a href="{{ path('blog_show', {'id': figure.id}) }}" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>        
    {% endfor %}
   
</section>
{% endblock %}