{% extends 'base.html.twig' %}

{% block title %}Salut BlogController!{% endblock %}

{% block body %}
<section class="articles mt-5">
    {% for user in users %}
        <article  class="d-flex">
            <div>{{ user.email }}</div>
            <div>Créer le {{ user.dateCreated | date('d/m/Y') }} à {{ user.dateCreated | date('H:i') }} </div>
            <div>Pseudo : {{ user.username }}</div>
             <a href="{{ path('delete', {'entity': 'user', 'id': user.id}) }}" class="col-1 btn btn-danger rounded-0">Supprimer</a>
        </article>        
    {% endfor %}
</section>
<section class="mt-5">
    <div class="d-flex">
        <div class="col-2 p-3 border border-primary text-center">Id</div>
        <div class="col-4 p-3 border border-primary text-center">Adresse email</div>
        <div class="col-4 p-3 border border-primary text-center">Pseudo</div>
        <div class="col-2 p-3 border border-primary text-center">Action</div>
    </div>
    {% for figure in figures %}
        <div class="d-flex">
            <div class="col-2 border border-primary text-center">{{ figure.id }}</div>
            <div class="col-4 border border-primary">{{ figure.name }}</div>
            <div class="col-4 border border-primary">{{ figure.summary }}</div>
            <button class="col-1 btn btn-success rounded-0">Afficher</button>
            <a href="{{ path('delete', {'entity': 'figure', 'id': figure.id}) }}" class="col-1 btn btn-danger rounded-0">Supprimer</a>
        </div>        
    {% endfor %}
</section>
<section class="mt-5">
      {% for figureForum in figureForums %}
        <div class="d-flex">
            <div>{{ figureForum.figure.name }}</div>
            <div>{{ figureForum.id }}</div>
            <div>{{ figureForum.content }}</div>
             <a href="{{ path('delete', {'entity': 'forum', 'id': figureForum.id}) }}" class="col-1 btn btn-danger rounded-0">Supprimer</a>
        </div>        
    {% endfor %}   
</section>

{% endblock %}