{% extends "base.html.twig" %}

{% block body %}


 {% for forum in forums %}
 <div class="d-flex">
    <div>{{ forum.figure.name }}</div>
    <div>{{ forum.id }}</div>
    <div>{{ forum.content }}</div>
    <div>{{ forum.dateCreated | date('d/m/Y')}} à {{ forum.dateCreated | date('H:i') }}</div>
    <a href="{{ path('blog_show', {'id': forum.figure.id}) }}" class="col-1 btn btn-succes">Voir la Figure</a>
</div>   
{% endfor %}
   



{% endblock %}