{% extends 'base.html.twig' %}
{# 
{% form_theme formFigure 'bootstrap_4_layout.html.twig' %} Adelmodif#}

{% block body %}
	<div class="col-md-9 border p-4 bg-white mx-auto">
		<h1 class="p-2 text-center font-MF border-bottom border-primary">
			{% if editMode %}
				Modifier une Figure
			{% else %}
				Ajouter une Figure
			{% endif %}
		</h1>

		{{ form_start(formFigure) }}
		{{ form_row(formFigure.name, {'label' : "Nom de la Figure"}) }}
		{{ form_row(formFigure.category, {'label' : "Choisir une catégorie"}) }}
		{{ form_row(formFigure.content, {'label' : "Contenu de la Figure"}) }}
		{{ form_row(formFigure.image, {'label' : "Choisir une image"}) }}
		<ul
			class="medias" data-prototype="{{ form_widget(formFigure.medias.vars.prototype)|e('html_attr') }}">
			{# iterate over each existing media and render its only field: name #}
			{% for media in formFigure.medias %}
				<li>{{ form_row(media.url, {'label' : "URL du media"}) }}</li>
				<li>{{ form_row(media.type, {'label' : "Type de media"}) }}</li>
			{% endfor %}
		</ul>
		<div class="row justify-content-center">
			<button type="submit" class="btn btn-success my-3 font-MF">
				{% if editMode %}
					Modifier !
				{% else %}
					Ajouter !
				{% endif %}
			</button>
		</div>
		{{ form_end(formFigure) }}
	</div>
{% endblock %}

{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
	<script>
		$(document).ready(function () {
bsCustomFileInput.init()
})
	</script>
	<script>
		var $collectionHolder;

// setup an "add a media" link
var $addMediaButton = $('<button type="button" class="add_media_link btn btn-primary">Ajouter un media</button>');
var $newLinkLi = $('<li></li>').append($addMediaButton);

jQuery(document).ready(function () { // Get the ul that holds the collection of medias
$collectionHolder = $('ul.medias');

// add the "add a media" anchor and li to the medias ul
$collectionHolder.append($newLinkLi);

/* // add a delete link to all of the existing media form li elements
            $collectionHolder.find('li').each(function () {
                addMediaFormDeleteLink($(this));
            }); Adelmodif */
// count the current form inputs we have (e.g. 2), use that as the new
// index when inserting a new item (e.g. 2)
$collectionHolder.data('index', $collectionHolder.find(':input').length);

$addMediaButton.on('click', function (e) { // add a new media form (see next code block)
addMediaForm($collectionHolder, $newLinkLi);
});

});

function addMediaForm($collectionHolder, $newLinkLi) { // Get the data-prototype explained earlier
var prototype = $collectionHolder.data('prototype');

// get the new index
var index = $collectionHolder.data('index');

var newForm = prototype;
// You need this only if you didn't set 'label' => false in your medias field in TaskType
// Replace '__name__label__' in the prototype's HTML to
// instead be a number based on how many items we have
// newForm = newForm.replace(/__name__label__/g, index);

// Replace '__name__' in the prototype's HTML to
// instead be a number based on how many items we have
newForm = newForm.replace(/__name__/g, index);

// increase the index with one for the next item
$collectionHolder.data('index', index + 1);

// Display the form in the page in an li, before the "Add a media" link li
var $newFormLi = $('<li></li>').append(newForm);
$newLinkLi.before($newFormLi);

addMediaFormDeleteLink($newFormLi);
}

function addMediaFormDeleteLink($mediaFormLi) {
var $removeFormButton = $('<button type="button" class="btn btn-danger" >Supprimer ce media</button>');
$mediaFormLi.append($removeFormButton);

$removeFormButton.on('click', function (e) { // remove the li for the media form
$mediaFormLi.remove();
});
}
	</script>
{% endblock %}
